html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kaushan Script', cursive;
}

.line-onside {
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
}

.line-onside:before,
.line-onside:after {
    content: '';
    border-top: 4px dotted;
    border-color: #d4c27a;
}

.line-onside:before {
    margin-left: 50%;
}

.line-onside:after {
    margin-right: 50%;
}

.navbar.navbar--hidden {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
}

#menu a.active {
    color: #fde68a !important;
    font-weight: bolder;
}